<div class="row">

    <!-- Nombre de la receta -->
    <div class="eleven columns">
        <h5>{{ $ctrl.receta.nombre }}</h5>
    </div>

    <!-- Enlace para volver a la vista anterior -->
    <div class="one column">
        <a href="javascript:history.back();">Atrás</a>
    </div>

</div>
<div class="row">

    <!-- Imagen de la receta -->
    <div class="five columns">
        <img ng-src="{{ $ctrl.obtenerRutaImagen($ctrl.receta.rutaImagen) }}" />
    </div>

    <div class="seven columns">

        <!-- Ingredientes de la receta -->
        <p><strong>Ingredientes</strong></p>
        <ul>
            <li ng-repeat="ingrediente in $ctrl.receta.ingredientes">
                {{ ingrediente | Ingrediente }}
            </li>
        </ul>

        <!-- Botón para eliminar la receta -->
        <button class="boton-eliminar u-full-width" ng-click="$ctrl.eliminarReceta()">Eliminar receta</button>
    </div>

</div>