<div class="row">
    <div class="twelve columns">

        <!-- Filtro de recetas -->
        <label for="filtro-recetas">Busca una receta por su nombre</label>
        <input
            id="filtro-recetas"
            type="text"
            placeholder="Pe. Tortilla"
            ng-model="$ctrl.filtroRecetas.nombre">

        <!-- Lista de recetas -->
        <table class="u-full-width">
            <tbody>
                <tr ng-repeat="receta in $ctrl.recetas | filter:$ctrl.filtroRecetas | orderBy:'nombre'">
                    <td>
                        <img
                            ng-src="{{ $ctrl.obtenerRutaImagen(receta.rutaImagen) }}"
                            width="60"
                            height="60">
                    </td>
                    <td>
                        <!-- Podemos utilizar este ngClick para mostrar u ocultar
                             los datos de los ingredientes -->
                        <!-- ng-click="receta.mostrar = !receta.mostrar" -->
                        <div>{{ receta.nombre }}</div>
                        <!-- Este ngShow debe ir complementando al ngClick de más arriba -->
                        <!-- ng-show="receta.mostrar" -->
                        <div>
                            <small>
                                {{ receta.ingredientes | ResumenIngredientes }}
                            </small>
                        </div>
                    </td>
                    <td>
                        <!-- En el array que pasamos a la directiva ngLink podemos indicar parámetros de
                             ruta. Para ello, basta con pasar un JSON como segundo elemento. -->
                        <a ng-link="['DetalleReceta', { id: receta.id }]">Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
