<div class="row">

    <!-- Imagen de la receta -->
    <div class="five columns">
        <image-picker
            image-selected="$ctrl.seleccionarImagen(imageFile)"
            image-deselected="$ctrl.deseleccionarImagen()"></image-picker>
    </div>

    <!-- Formulario de alta de recetas -->
    <div class="seven columns">
        <formulario-alta al-hacer-click="$ctrl.guardarReceta(receta)"></formulario-alta>
    </div>

</div>
