<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enlace de datos: Data Binding</title>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="test">

    <!-- Controlador con ejemplos de Data Binding -->
    <div ng-controller="EnlaceDatos">

        <!-- Ejemplo de two-way data binding -->
        <p><strong>Two-way data binding</strong></p>
        <p><input type="text" ng-model="textoEnlazadoEnDobleSentido"></p>
        <p>{{ textoEnlazadoEnDobleSentido }}</p>

        <!-- Ejemplo de two-way data binding con updateOn -->
        <p><strong>Two-way data binding con updateOn</strong></p>
        <p><input
            type="text"
            ng-model="textoEnlazadoEnDobleSentidoConUpdate"
            ng-model-options="{ updateOn: 'blur' }"></p>
        <p>{{ textoEnlazadoEnDobleSentidoConUpdate }}</p>

        <!-- Ejemplo de two-way data binding con debounce -->
        <p><strong>Two-way data binding con debounce</strong></p>
        <p><input
                type="text"
                ng-model="textoEnlazadoEnDobleSentidoConDebounce"
                ng-model-options="{ debounce: 3000 }"></p>
        <p>{{ textoEnlazadoEnDobleSentidoConDebounce }}</p>

        <!-- Ejemplo de one-time binding -->
        <p><strong>One-time binding</strong></p>
        <p><input
                type="text"
                ng-model="textoEnlazadoEnUnSoloSentido"></p>
        <p>{{ ::textoEnlazadoEnUnSoloSentido }}</p>

        <!-- Botón para mostrar en consola el valor del modelo -->
        <button ng-click="mostrarEnConsola()">Mostar modelo en consola</button>
    </div>

    <script>

        // Setter del módulo.
        angular
            .module("test", []);

        // Controlador con ejemplos de Data Binding.
        angular
            .module("test")
            .controller("EnlaceDatos", function($scope) {

                $scope.textoEnlazadoEnDobleSentido = "Texto que sincroniza con two-way por defecto";
                $scope.textoEnlazadoEnDobleSentidoConUpdate = "Texto que sincroniza con updateOn";
                $scope.textoEnlazadoEnDobleSentidoConDebounce = "Texto que sincroniza con debounce";
                $scope.textoEnlazadoEnUnSoloSentido = "Texto que sincroniza una sola vez";

                $scope.mostrarEnConsola = function() {

                    console.log("$scope.textoEnlazadoEnDobleSentido: " + $scope.textoEnlazadoEnDobleSentido);
                    console.log("$scope.textoEnlazadoEnDobleSentidoConUpdate: " + $scope.textoEnlazadoEnDobleSentidoConUpdate);
                    console.log("$scope.textoEnlazadoEnDobleSentidoConDebounce: " + $scope.textoEnlazadoEnDobleSentidoConDebounce);
                    console.log("$scope.textoEnlazadoEnUnSoloSentido: " + $scope.textoEnlazadoEnUnSoloSentido);
                };
            });

    </script>
</body>
</html>