<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de filtros</title>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="test">

    <div ng-controller="filtros">

        <!-- Ejemplo del filtro currency -->
        <p><strong>Filtro currency</strong></p>
        <p>{{ precio | currency }}</p>

        <!-- Ejemplo del filtro date -->
        <p><strong>Filtro date</strong></p>
        <p>{{ ahora | date:'fullDate' }}</p>

        <!-- Ejemplo del filtro lowercase -->
        <p><strong>Filtro lowercase</strong></p>
        <p>{{ textoEnMinusculas }}</p>

        <!-- Ejemplo del filtro uppercase -->
        <p><strong>Filtro uppercase</strong></p>
        <p>{{ textoEnMayusculas }}</p>

        <!-- Ejemplo del filtro LetraCapital -->
        <p><strong>Filtro LetraCapital</strong></p>
        <p>{{ lipsum | LetraCapital }}</p>

    </div>
    <script>

        // Setter del módulo.
        angular
            .module("test", []);

        angular
            .module("test")
            .controller("filtros", function($scope, $filter) {

                $scope.precio = 2234123.89;

                $scope.ahora = new Date();

                $scope.textoEnMinusculas = $filter("lowercase")("HoLa QuE aSe");

                $scope.textoEnMayusculas = $filter("uppercase")("HoLa QuE aSe");

                $scope.lipsum = "lorem ipSum dolor sit amet, Consectetur aDipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
            });

        angular
            .module("test")
            .filter("LetraCapital", function() {

                // Un filtro siempre:
                //   1. Retorna una función.
                //   2. Espera al menos un parámetro: el dato de entrada.
                return function(texto) {

                    return texto[0].toUpperCase() + texto.substring(1).toLowerCase();
                }
            });

    </script>
</body>
</html>