<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo de Inyección de Dependencias</title>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="test">

    <!-- Vista del Controlador1 -->
    <div ng-controller="Controlador1">
        <h4>Inyección con anotación de array en línea</h4>
        <ul>
            <li ng-repeat="mensaje in mensajes">{{ mensaje }}</li>
        </ul>
    </div>

    <!-- Vista del Controlador2 -->
    <div ng-controller="Controlador2">
        <h4>Inyección con propiedad $inject</h4>
        <ul>
            <li ng-repeat="mensaje in mensajes">{{ mensaje }}</li>
        </ul>
    </div>

    <!-- Vista del Controlador3 -->
    <div ng-controller="Controlador3">
        <h4>Inyección con parámetros de función</h4>
        <ul>
            <li ng-repeat="mensaje in mensajes">{{ mensaje }}</li>
        </ul>
    </div>

    <script>

        // Setter del módulo.
        angular
            .module("test", []);

        // Servicio de mensajes.
        angular
            .module("test")
            .service("ServicioMensajes", function() {

                this.dameMensajes = function() {
                    return [
                        "Buenas noches Keep Coders",
                        "Ya queda menos para irse a dormir"
                    ];
                };
            });

        // Inyección de dependencias con anotación de array en línea.
        angular
            .module("test")
            .controller("Controlador1", [
                "$scope",
                "ServicioMensajes",
                function($scope, ServicioMensajes) {
                    $scope.mensajes = ServicioMensajes.dameMensajes();
                }
            ]);

        // Inyección de dependencias con propiedad $inject.
        var controlador2 = function($scope, ServicioMensajes) {
            $scope.mensajes = ServicioMensajes.dameMensajes();
        };
        controlador2.$inject = ["$scope", "ServicioMensajes"];
        angular.module("test").controller("Controlador2", controlador2);

        // Inyección de dependencias con parámetros de función.
        angular
            .module("test")
            .controller("Controlador3", function($scope, ServicioMensajes) {
                $scope.mensajes = ServicioMensajes.dameMensajes();
            });

    </script>
</body>
</html>