<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promesas</title>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="test">

    <!-- Controlador con ejemplos de promesas -->
    <div ng-controller="EjemplosPromesas">

        <div>
            <button ng-click="resuelveMensaje()">Promesa que resuelve un mensaje</button>
        </div>

        <div>
            <button ng-click="rechazaMensaje()">Promesa que rechaza un mensaje</button>
        </div>

        <div>
            <button ng-click="obtenerPosicion()">Promesa que obtiene la posición geográfica</button>
        </div>
        <div>
            <button ng-click="obtenerValorEmpaquetado()">Valor empaquetado en promesa</button>
        </div>

    </div>

    <script>

        // Setter del módulo.
        angular
            .module("test", []);

        // Servicio con ejemplos de promesas.
        angular
            .module("test")
            .service("Promesas", function($q) {

                // Obtenemos un mensaje resolviendo una promesa.
                this.mensaje = function() {

                    // Creamos el objeto diferido.
                    var diferido = $q.defer();

                    // Simulamos asincronía.
                    setTimeout(function() {

                        // Resolvemos el objeto diferido.
                        diferido.resolve("Soy un mensaje en una promesa resuelta.");

                    }, 3000);

                    // Siempre retornamos la promesa del objeto diferido.
                    return diferido.promise;
                };

                this.rechazoMensaje = function() {

                    var diferido = $q.defer();

                    setTimeout(function() {

                        // Rechazamos el objeto diferido.
                        diferido.reject("Ha ocurrido un error en la operación.");

                    }, 3000);

                    return diferido.promise;
                };

                this.obtenerPosicion = function() {

                    var diferido = $q.defer();

                    navigator.geolocation.getCurrentPosition(
                        function(datos) {
                            diferido.resolve({ "coordenadas": datos.coords });
                        }
                    );

                    return diferido.promise;
                };

                this.valorEmpaquetadoEnPromesa = function() {

                    return $q.when({ "mensaje": "Hola mundo!" });
                };
            });

        // Controlador con ejemplos de promesas.
        angular
            .module("test")
            .controller("EjemplosPromesas", function($scope, Promesas) {

                $scope.resuelveMensaje = function() {
                    // Usamos 'then()' para trabajar con el valor de la promesa.
                    // Como primer parámetro pasamos el manejador que atiende
                    // la resolución de la promesa.
                    Promesas.mensaje().then(function(datos) {

                        alert(datos);
                    });
                };

                $scope.rechazaMensaje = function() {
                    // Como segundo parámetro pasamos el manejador que
                    // atiende el rechazo de la promesa.
                    Promesas.rechazoMensaje().then(

                        function(datos) {
                            alert("Resuelta: " + datos);
                        },

                        function(datos) {
                            alert("Rechazada: " + datos);
                        }
                    );
                };

                $scope.obtenerPosicion = function() {

                    Promesas.obtenerPosicion().then(function(coordenadas) {
                        console.log(coordenadas);
                    });
                };

                $scope.obtenerValorEmpaquetado = function() {

                    Promesas.valorEmpaquetadoEnPromesa().then(function(datos) {
                        console.log(datos);
                    });
                };
            });

    </script>
</body>
</html>