<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factories & Providers</title>
    <!-- Cargamos AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="test">

    <!-- Controlador 'ejemplos' -->
    <div ng-controller="ejemplos">

        <!-- Valor desde factory -->
        <p><strong>Service</strong></p>
        <p>{{ desdeService }}</p>

        <!-- Valor desde factory -->
        <p><strong>Factory</strong></p>
        <p>{{ desdeFactory }}</p>

        <!-- Valor desde provider -->
        <p><strong>Provider</strong></p>
        <p>{{ desdeProvider }}</p>

    </div>

    <script>

        // Setter del módulo.
        angular
            .module("test", []);

        /*
         * Los servicios los usamos para todas aquellas operaciones que no están relacionadas con la
         * interfaz de usuario (las vistas), ya que solo los controladores y componentes pueden
         * hablarse con ella. Lo más común es usarlos para comunicarse con otros servidores donde
         * tenemos, por ejemplo, una API que expone las entidades de nuestra app.
         *
         * Los servicios solo pueden retornar objetos. Son singletons y de instanciación perezosa; esto
         * significa que un servicio no se instancia hasta que se solicita su inyección por primera vez.
         * Esta instancia se hace a través de new: var singleton = new MyService();
         */
        angular
            .module("test")
            .service("miServicio", function() {

                var texto = "Soy un mensaje en un service";

                // De manera externa solo podemos acceder a aquello que está publicado en 'this'.
                this.obtenerMensaje = function() {
                    return texto;
                };
            });

        /*
         * Los factories son un poco más complejos que los servicios. Cubren las mismas necesidades que
         * éstos, por lo que podrían usarse indistintamente. También son singletons y de instanciación
         * perezosa.
         *
         * La diferencia, pues, con los servicios es que pueden retornar cualquier valor primitivo y que
         * su instanciación no se hace a través de new: var singleton = MyService();
         */
        angular
            .module("test")
            .factory("miFactory", function() {

                // Retornamos una función, por ejemplo.
                return function() {
                    return "Soy un mensaje en un factory"
                };
            });

        /*
         * Los providers son los más complejos de usar. De nuevo, sirven para hacer el mismo tipo de
         * operaciones que podemos hacer con un servicio o un factory. La principal diferencia es que es
         * el único de los tres que puede inyectarse en fase config. Por tanto, es la mejor opción cuando
         * necesitamos un factory o un servicio que pueda configurarse previamente a su uso.
         *
         * Los providers tienen dos comportamientos bien diferenciados: cuando se inyectan en fase de
         * config y cuando se inyectan en fase de run. A la hora de definirlos, publicaremos en la
         * propiedad $get lo que deba estar disponible en fase run; el resto de propiedades de su
         * definición solo estará disponible en fase de config. Además, la propiedad $get se comporta
         * como un factory, por lo que podría retornar cualquier tipo primitivo.
         *
         * Por último, hay que tener en cuenta que cuando un provider se inyecta en fase de config, su
         * nombre debe concatenar la palabra Provider. Es decir, un provider de nombre 'recipes', se
         * inyectará como tal en fase de run, pero lo hará como 'recipesProvider' en fase de config.
         */
        angular
            .module("test")
            .provider("miProveedor", function() {

                var mensaje = "Soy un mensaje en un provider";

                return {

                    // Las funciones 'obtenerMensaje' y 'cambiarMensaje' solo están disponibles
                    // en fase de config. En fase de run no se podrá acceder a ellas.
                    obtenerMensaje: function() {
                        return "En fase config: " + mensaje;
                    },
                    cambiarMensaje: function(nuevoMensaje) {
                        mensaje = nuevoMensaje;
                    },

                    // La función '$get' es un factory, podría retornar cualquier tipo. Contiene la lógica
                    // que se inyecta en fase de run. En fase de config no hay forma de trabajar con esta función.
                    $get: function() {

                        return "En fase run: " + mensaje;
                    }
                };
            });

        // Bloque config.
        // Recordemos que al inyectar un provider en fase config hay que concatenar 'Provider'.
        angular
            .module("test")
            .config(function(miProveedorProvider) {

                // Escribimos el valor mensaje en la consola.
                // Abre la consola del navegador para ver que realmente se ejecuta este código.
                console.log(miProveedorProvider.obtenerMensaje());

                // Cambiamos el valor.
                miProveedorProvider.cambiarMensaje("Sigo siendo un mensaje en un provider.")
            });

        // Controlador con los ejemplos de uso.
        angular
            .module("test")
            .controller("ejemplos", function($scope, miServicio, miFactory, miProveedor) {

                // Un servicio siempre retorna un objeto, por lo que tenemos que acceder
                // a sus miembros públicos para obtener la funcionalidad expuesta.
                $scope.desdeService = miServicio.obtenerMensaje();

                // El factory que hemos definido es una función, por lo que la
                // ejecutamos para obtener el mensaje que ésta retorna.
                $scope.desdeFactory = miFactory();

                // Como el provider en fase de run es una cadena de texto, podemos
                // asignarla directamente al scope para mostrarla en la vista.
                $scope.desdeProvider = miProveedor;
            });

    </script>
</body>
</html>
